# ElevenLabs
NEXT_PUBLIC_ELEVENLABS_AGENT_ID_ANNA=agent_9901kj5atpzxft39bqw5sm2fbrr5

# Vapi
NEXT_PUBLIC_VAPI_PUBLIC_KEY=your_vapi_public_key_here
NEXT_PUBLIC_VAPI_ASSISTANT_ID_UZ=your_vapi_assistant_id_here
